@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: black;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*img {
    width: 100%;
    padding: 20px;
} */

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}
.conditions-section{
    margin: 20px 0;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

/* footer{
    position: fixed;
    left: 0; bottom: 0; width: 100%;
} */

.item-mainmenu{
    margin: 10px;
    align-items: center;
}

.text-mainmenu{
    text-align: center;
}

.action {
    width: 93px;
}
